/* ------------------------------------------------------------ *\
	Vendor
\* ------------------------------------------------------------ */

@import '~@styles/speedy-admin.config.scss';

#woo_bg_speedy #order_data { padding: 0 }

.panel-wrap.woocommerce--speedy {
	.multiselect__option--highlight:not( .multiselect__option--selected ) {
		background: $color-speedy-blue;
	}
	.multiselect__option--highlight.multiselect__option--selected {
		background: $color-red;
	}

	#woo-bg--speedy-label-print { 
		min-height: 600px; 
		width: 100%; 
		margin-top: 30px;
	}

	.woo-bg--radio input { 
		margin: 3px 0px 0px 0px; 
	}

	input.multiselect__input { 
		border: 0!important; 
	}

	.woocommerce_order_status table { width:440px; text-align:left; }

	fieldset {
		border: 1px solid;
		border-radius: 6px;
		padding: 5px;
	}
}

