/* ------------------------------------------------------------ *\
    Settings
\* ------------------------------------------------------------ */

@import '~@styles/admin.config.scss';
@import '~vue-multiselect/dist/vue-multiselect.min.css';
@import '~vue2-datepicker/index.css';

/* ------------------------------------------------------------ *\
    Admin
\* ------------------------------------------------------------ */
@import './_module.*.scss';

/* ------------------------------------------------------------ *\
    Base
\* ------------------------------------------------------------ */

.form-message { margin-left: 15px; font-size: 17px; font-weight: 500; }

i.woo-bg-icon { width: 31px; height: 30px; background-size: contain; display: inline-block; margin: 0 7px; background-repeat: no-repeat; }
i.woo-bg-icon--alert { background-image: url(../../images/alert-icon.png); }
i.woo-bg-icon--check { background-image: url(../../images/check-icon.png); }
i.woo-bg-icon--question { background-image: url(../../images/question-icon.png); }

.woo-bg--centered-paragraph { display: flex; align-items: center; justify-content: center; }

#order_data {
    .order_data_column.order_data_column--half { width: 49%; }
    .order_data_column.order_data_column--full { width: 100%; }

    .order_data_column { 
        .customer {
            border: 2px dashed black; border-radius: 15px; padding: 15px; margin-bottom: 10px; 

            p { margin: 0 0 10px 0; }
            p:last-child { margin: 0; }
            a.customer-reports--image img { width: auto; height: 60px; }
        }

        .form-field._billing_to_company_field { width: 100% }
        .form-field._billing_company_field { width: 48%; clear: initial; }
    }

    .form-field--checkbox label { display: inline-block !important; }
}

th#nekorekten { width: 0.0001ch; }

.multiselect__tags { padding: 0; }

.wpo_wcpdf-actions {
    li { display: inline-flex; align-items: center; }
    a.button { display: inline-flex; align-items: center; }

    div.wp-menu-image::before { color: #2271b1; }
}


