/* ------------------------------------------------------------ *\
	Vendor
\* ------------------------------------------------------------ */

@import '~@styles/econt-admin.config.scss';

.panel-wrap.woocommerce--econt {
	.multiselect__option--highlight:not( .multiselect__option--selected ) {
		background: $color-econt-blue;
	}
	.multiselect__option--highlight.multiselect__option--selected {
		background: $color-red;
	}

	#woo-bg--econt-label-print { 
		min-height: 600px; 
		width: 100%; 
		margin-top: 30px;
	}

	.woo-bg--radio input { 
		margin: 3px 0px 0px 0px; 
	}

	input.multiselect__input { 
		border: 0!important; 
	}
}

