/* ------------------------------------------------------------ *\
	Vendor
\* ------------------------------------------------------------ */
@import '~@styles/econt-frontend.config.scss';
@import '~vue-multiselect/dist/vue-multiselect.min.css';
@import '~magnific-popup/dist/magnific-popup.css';

#shipping_method {
	.multiselect__option { white-space:initial; }
	.multiselect__option--selected span { max-width: 80%; display:inline-block; }
	table.woocommerce-checkout-review-order-table .product-name { width: 30%; }

	.woo-bg--econt-delivery {
		li.multiselect__element { display:block !important }

		.multiselect__option.multiselect__option--highlight:after,
		.multiselect__option--highlight:not( .multiselect__option--selected ) {
			background: $color-econt-blue;
		}

		.multiselect__option.multiselect__option--highlight.multiselect__option--selected:after,
		.multiselect__option--highlight.multiselect__option--selected {
			background: $color-red;
		}

		.multiselect__content-wrapper ul.multiselect__content { 
			margin: 0; 
			padding: 0;
		}

		.woo-bg-multiselect { 
			margin-bottom: 15px; 
		}

		.woo-bg-multiselect input.multiselect__input { 
			border: 0; 
		}

		.multiselect__select { 
			height: 100%; 
		}

		.woo-bg-multiselect--additional-field { 
			width: 100%; 
			box-sizing: border-box;
		}
	}
}

button.mfp-close { 
	background-color: initial !important; 
}

#main tr.woo-bg--shipping-methods ul#shipping_method { margin: 0; }
#main tr.woo-bg--shipping-methods ul#shipping_method li { display:block; }

@media ( max-width: 768px ) {
	.mfp-iframe-holder .mfp-content { height: 100% }
}